<div class="modal-header">
    <h4>Thêm mới Chuyên mục</h4>
</div>
<div class="modal-body" style="overflow:unset;">
    <div class="col sm-12">
        @Html.Partial("~/Views/CategoriesManage/_DetailCategory.cshtml") 
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>    
</div>