<style>
    #muc-luc {
        border: 1px solid #dadada;
        background: #f1f1f1;
        min-width: 250px;
        margin: 0px;
        border-radius: 4px;
    }
        #muc-luc:not(.is-sticky) {
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
        }
    .muc-luc-title {
        text-align: center;
        font-weight: 700;
    }
    .muc-luc-title {
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        text-align: justify;
        margin: .7rem 0;
    }

</style>

<div id="muc-luc"  aria-expanded="true" class="" style="margin-top: 0px">
    <p class="muc-luc-title">
    <strong>Nội dung bài viết</strong><span id="toggle-mucluc" style="margin-left: 15px;display:inline-block;" class="is_selected_mucluc" ><i class="fa fa-chevron-down" aria-hidden="true" style="transform: rotate(180deg);"></i></span></p>

</div>
