
@{
    ViewBag.Title = "Hướng dẫn sắp xếp";
    Layout = "~/Views/Shared/_Layoutv3.cshtml";
}
<style>

</style>
<div class="page-head">
    <div class="container-fluid">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li> <span>bài viết</span><i class="fa fa-angle-right"></i> </li>
                <li> <span>Hướng dẫn</span></li>
            </ul>
            @*<div class="page-toolbar">
                <div class="btn-group">
                    <a href="/QuanLyTinTuc/Create"><span class="btn btn-fit-height btn-primary"><i class="fa fa-plus"></i> Thêm bài viết</span></a>
                </div>

            </div>*@
        </div>


    </div>
</div>

<div class="page-content">
    <div class="container">
        <div style="margin-top:20px" class="row">
            <h2 >Hướng dẫn sắp xếp trang trủ</h2>
            <h3 style="margin-top:20px"> Bước 1: click vào nút Sắp xếp trang chủ </h3>
            <div>
                <img src="~/UITheme/images/sapxep.png" />
            </div>
            <h3 style="margin-top:20px">Bước 2 : click dữ chuột kéo thả di chuyển chuyên mục , xong bấm nút “lưu thứ tự danh mục” . Chuyên mục sẽ được hiển thị thứ tự từ trên xuống dưới</h3>
            <div>
                <img src="~/UITheme/images/danhmuc.png" />
            </div>
            <h3 style="margin-top:20px">Bước 3: click vào chuyên mục nào sẽ hiển thị bài viết tương ứng nằm trong chuyên mục đó, kéo thả sắp xếp bài viết, và bấm nút “lưu thứ tự bài viết”.</h3>
            <div>
                <img class="img-responsive" src="~/UITheme/images/baiviet.png" />
            </div>
        </div>
    </div>
</div>


