<div class="modal-header">
</div>
<div class="modal-body" style="overflow:unset;">
    <div class="col sm-12">
        @Html.Partial("~/Views/SysMenuManage/_TreeRightSelect.cshtml")
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
</div>