@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Tài khoản của bạn không có quyền truy cập chức năng này</h1>
<h2 class="text-danger">Vui lòng liên hệ quản trị viên để biết thêm chi tiết!</h2>

