@{
    ViewBag.Title = "Kích hoạt tài khoản";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Tài khoản đã được kích hoạt @Html.ActionLink("Quay về danh sách", "Index", "UnitUserManage", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
