@{
    ViewBag.Title = "Kích hoạt tài khoản";
}
<p class="text-info">
    Chức năng kích hoạt tài khoản qua email chưa được kích hoạt!
</p>
<p class="text-danger">
    Vui lòng bấm vào link <a href="@ViewBag.Link">link</a> để kích hoạt tài khoản
</p>